/* *{
    outline: 2px solid red;
} */
div.row{
    margin-top: 3%;
}
.title{
    background: rgb(138, 219, 219);
    font-family: 'Cinzel', serif;
    }


.my-4{
    background-color: rgb(138, 219, 219);
}